binds {
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up;
    }
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down;
    }
    Mod+Shift+Slash {
        show-hotkey-overlay;
    }
    Mod+Shift+C repeat=false {
        close-window;
    }

    Mod+E {
        spawn "nautilus";
    }
    Mod+T {
        toggle-window-floating;
    }
    Mod+F {
        maximize-column;
    }
    Mod+V {
        maximize-column;
    }
    Mod+R {
        spawn "rofi" "-show" "drun";
    }
    Mod+Space repeat=false {
        spawn "rofi" "-show" "drun";
    }
    Mod+Shift+F {
        fullscreen-window;
    }
    Mod+Shift+M {
        quit;
    }
    Mod+Shift+V {
        spawn "zsh" "-c" "hyprpicker | wl-copy"
    }
    Mod+Ctrl+S {
        screenshot show-pointer=true;
    }
    Mod+Z cooldown-ms=100 {
        toggle-overview;
    }
    Mod+C cooldown-ms=100 {
        switch-preset-column-width;
    }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "-n" "set" "5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-n" "set" "5%-"; }

    Mod+Tab { focus-column-right-or-first; }
    Mod+Shift+Tab { focus-column-left-or-last; }

    Mod+W { focus-workspace-up; }
    Mod+A { focus-column-left; }
    Mod+S { focus-workspace-down; }
    Mod+D { focus-column-right; }

    Mod+Up { focus-workspace-up; }
    Mod+Left { focus-column-left; }
    Mod+Down { focus-workspace-down; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Up { set-window-height "-5%"; }
    Mod+Ctrl+Left { set-column-width "-5%"; }
    Mod+Ctrl+Down { set-window-height "+5%"; }
    Mod+Ctrl+Right { set-column-width "+5%"; }

    Mod+Ctrl+A { set-column-width "-5%"; }
    Mod+Ctrl+D { set-column-width "+5%"; }

    Mod+Shift+W { move-column-to-workspace-up; }
    Mod+Shift+A { move-column-left; }
    Mod+Shift+S { move-column-to-workspace-down; }
    Mod+Shift+D { move-column-right; }

    Mod+Shift+Up { move-column-to-workspace-up; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Down { move-column-to-workspace-down; }
    Mod+Shift+Right { move-column-right; }

    Mod+L hotkey-overlay-title="Lock the screen" repeat=false {
        spawn "hyprlock";
    }
    Mod+Q repeat=false {
        spawn "kitty";
    }

}
