prefer-no-csd

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

environment {
    GDK_BACKEND "wayland,x11,*"
    QT_QPA_PLATFORM "wayland;xcb"
    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

    // XDG_CURRENT_DESKTOP
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "wayland"
}
